@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/Card.css")

<div class="container">

    <div class="d-flex">
        <h3 class="p-2 mr-auto">All items</h3>
        <div class="row p-2">
            <div class="dropdown pr-2" id="selectField">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownCatMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter category:
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item cat" href="#" cate="All">All</a>
                    <a class="dropdown-item cat" href="#" cate="Clothes">Clothes</a>
                    <a class="dropdown-item cat" cate="Technology">Technology</a>
                    <a class="dropdown-item cat" cate="Make Up">Make Up</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by:
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item sort" href="#" sortBy="min-max">Price min-max</a>
                    <a class="dropdown-item sort" href="#" sortBy="max-min">Price max-min</a>
                    <a class="dropdown-item sort" href="#" sortBy="name">Name</a>
                    <a class="dropdown-item sort" href="#" sortBy="seller">Seller</a>
                </div>
            </div>
        </div>

    </div>

    <hr />

    <div id="mainContainer"></div>

    <nav>
        <ul class="pagination" numPages ="@ViewBag.numPages">
            <li class="page-item" id="left">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            @for (var i = 1; i < ViewBag.numPages + 1; i++)
            {
                var id = i - 1;
                <li class="page-item" id="@id"><a class="page-link" href="#">@i</a></li>
            }

            <li class="page-item" id="right">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

@section scripts{
    <script src="~/Script.js"></script>
}